.radio-group-container * {
    font-family: 'Inter', sans-serif;
    color: #072531;
}

.radio-group-container {
    display: flex;
    flex-direction: column;
}

.radio-group-container .radio-group-title {
    font-size: 14px;
    font-weight: 600;
    margin-block-end: 6px;
    color: #777 !important;
    display: flex;
    justify-content: space-between;
}

.radio-group-container .radio-group {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.radio-group-container span{
    font-size: 14px;
    color: #FD0D1B;
}